# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
DATABASE_URL='postgresql://<username>:<password>@<cluster>/<database>?sslmode=require'

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET=''

# Preconfigured Google OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/google
AUTH_GOOGLE_ID=''
AUTH_GOOGLE_SECRET=''

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID=''
AUTH_DISCORD_SECRET=''

# Amazon S3 bucket for images (cloudfare r2)
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION=''
AWS_ENDPOINT=''

# Discord Webhooks used for reports
DISCORD_MOD_REPORT_WEBHOOK_URL=''
DISCORD_BUG_WEBHOOK_URL=''
DISCORD_FEEDBACK_WEBHOOK_URL=''

# VAPID keys for push notifications
VAPID_PUBLIC_KEY=''
VAPID_PRIVATE_KEY=''
NEXT_PUBLIC_VAPID_PUBLIC_KEY=''