@tailwind base;

:root {
  --primary: rgba(0, 0, 0, 0.5);
  @apply dark:bg-slate-950;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent var(--primary);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  @apply dark:bg-slate-500;
  border-radius: 9999999px;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: ButtonAnimation 3s ease infinite;
  -moz-animation: ButtonAnimation 3s ease infinite;
  animation: ButtonAnimation 3s ease infinite;
}

@keyframes ButtonAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@tailwind components;
@tailwind utilities;
