@tailwind base;

:root {
  --primary: rgba(0, 0, 0, 0.5);
  @apply dark:bg-slate-950;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent var(--primary);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  @apply dark:bg-gray-500;
  border-radius: 9999999px;
}

@tailwind components;
@tailwind utilities;
