@tailwind base;
@tailwind components;

:root {
  --body: #f9f9f9;
  --stroke: #e7e7e7;
  --secondary-text: rgba(0, 0, 0, 0.5);
  --blur: rgba(0, 0, 0, 0.25);
  --fade: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  --error: #f85555;
  --brown-accent: #795844;
  --hot-pink-accent: #ff264d;
  --orange-accent: #ff6200;
  --light-pink-accent: #ffb4c1;
  --hover: rgba(0, 0, 0, 0.15);

  color: #171717;

  --accent: #171717;
}

.light-brown {
  --accent: var(--brown-accent);
}

.light-light-pink {
  --accent: #ffb4c1;
}

.light-hot-pink {
  --accent: var(--hot-pink-accent);
}

.light-orange {
  --accent: var(--orange-accent);
}

.dark {
  --body: #121212;
  --stroke: #2d2d2d;
  --secondary-text: #858585;
  --hover: rgba(255, 255, 255, 0.15);

  color: #fff;

  --accent: #fff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blur);
  border-radius: 9999999px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-color: transparent;
  scrollbar-width: none;
}

.mobilenav {
  height: 65px;
  height: calc(env(safe-area-inset-bottom, 0) + 65px);
}

@media (max-width: 768px) {
  .mobileapp {
    height: calc(100dvh - 65px);
    height: calc(100dvh - calc(env(safe-area-inset-bottom, 0) + 65px));
  }
}

.skeleton {
  @apply animate-pulse rounded-xl bg-gray-300 dark:bg-gray-700;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: ButtonAnimation 3s ease infinite;
  -moz-animation: ButtonAnimation 3s ease infinite;
  animation: ButtonAnimation 3s ease infinite;
}

.underline-skew {
  position: relative;
}

.underline-skew:after {
  content: " ";
  position: absolute;
  background-color: var(--orange-accent);
  width: 100%;
  height: 6px;
  top: 50px;
  left: 0%;
  transform: skewY(1.591deg);
}

@media (max-width: 768px) {
  .underline-skew:after {
    top: 40px;
  }
}

.orange-selection::selection {
  background-color: #ffcfb1;
}

.orange-selection::-moz-selection {
  background-color: #ffcfb1;
}

@keyframes ButtonAnimation {
  23% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  48% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  73% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  88% {
    transform: translateY(-412%);
  }

  90% {
    transform: translateY(-400%);
  }
}

.pop-in-1 {
  animation: pop-in-1 0.6s ease-out forwards;
}

.pop-in-2 {
  animation: pop-in-2 0.6s ease-out forwards;
}

.pop-in-3 {
  animation: pop-in-3 0.6s ease-out forwards;
}

.pop-in-4 {
  animation: pop-in-4 0.6s ease-out forwards;
}

@keyframes pop-in-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: -12deg;
  }
}

@keyframes pop-in-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: 6deg;
  }
}

@keyframes pop-in-3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: 3deg;
  }
}

@keyframes pop-in-4 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: -6deg;
  }
}

@tailwind utilities;