@tailwind base;
@tailwind components;

:root {
  --body: #f9f9f9;
  --stroke: #e7e7e7;
  --secondary-text: rgba(0, 0, 0, 0.5);
  --blur: rgba(0, 0, 0, 0.25);
  --fade: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  --error: #f85555;
  --brown-accent: #795844;
  --hot-pink-accent: #ff264d;
  --orange-accent: #ff6200;
  --light-pink-accent: #ffb4c1;
  --hover: rgba(0, 0, 0, 0.15);

  color: #171717;

  --accent: #171717;
}

.light-brown {
  --accent: var(--brown-accent);
}

.light-light-pink {
  --accent: #ffb4c1;
}

.light-hot-pink {
  --accent: var(--hot-pink-accent);
}

.light-orange {
  --accent: var(--orange-accent);
}

.dark {
  --body: #121212;
  --stroke: #2d2d2d;
  --secondary-text: #858585;
  --hover: rgba(255, 255, 255, 0.15);

  color: #fff;

  --accent: #fff;
}

.p-mobile {
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.pop-in-1 {
  animation: pop-in-1 0.6s ease-out forwards;
}

.pop-in-2 {
  animation: pop-in-2 0.6s ease-out forwards;
}

.pop-in-3 {
  animation: pop-in-3 0.6s ease-out forwards;
}

.pop-in-4 {
  animation: pop-in-4 0.6s ease-out forwards;
}

@keyframes pop-in-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: -12deg;
  }
}

@keyframes pop-in-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: 6deg;
  }
}

@keyframes pop-in-3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: 3deg;
  }
}

@keyframes pop-in-4 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    rotate: -6deg;
  }
}

@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}